/* css selector = memilih satu elemen untuk di styling */
/* css specifity = cara yang digunakan browser untuk menentukan nilai CSS property mana yang paling relevan dengan suatu elemen dan akan diterapkan */
/* resposive website = membuat suatu layout website yang dapat menyesuaikan diri sesuai dengan ukuran layar pengguna. */
/* media query = fitur CSS 3 yang memungkinkan rendering konten beradaptasi dengan berbagai kondisi seperti resolusi layar */
/* flexbox dan grid = Flexbox dan Grids sama-sama berfungsi untuk mengatur tampilan sebuah halaman web menjadi lebih terstruktur dan rapi. Perbedaannya hanya terletak pada arah pembagian dimensinya saja. Flexbox hanya dapat mengatur arah pembagian dimensi tampilan hanya secara horizontal saja atau secara vertikal saja. */
/* bootstrap = salah satu framework css yang terkenal dan sering dipakai */
* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  width: 100%;
  height: 60px;
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  margin: 20px;
}

.nav-ul {
  display: flex;
  float: right;
}

.nav-li {
  list-style: none;
  margin: 0 30px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

h1 {
  color: blue;
  margin-top: 5rem;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  color: black;
  background-color: #ccc;
  border-radius: 5px;
}
p.reason {
  font-family: sans-serif;
  font-weight: bold;
}

p.address {
  background-color: yellow;
  padding: 5px 20px;
  width: auto;
  border-radius: 5px;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin: 5px 20px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

ul li:hover {
  background-color: blue;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

h4 {
  font-size: 20px;
}

@media (max-width: 768px) {
}
